<a href="https://colab.research.google.com/github/Larbst1234/aula_1/blob/main/Aula_1_Ci%C3%AAncias_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Visualização de dados -Dataframe

Usaremos um banco de dados, com o pandas(biblioteca para banco de dados para tratamento e análise da dados)

In [5]:
import pandas as pd

para chamar a biblioteca pandas e chama-la no códigos: as pd

Como se cria um data frame,

In [16]:
 exemplo = pd.DataFrame({'Nome': [" Bruna", "Laio", "Wilian"],
                        'idade': [22,21,21],
                        'Curso':["Eng", "Eng","Eng"]})
 exemplo

     Nome  idade Curso
0   Bruna     22   Eng
1    Laio     21   Eng
2  Wilian     21   Eng